/* custom_styles.css */
.bg-danger {
    background-color: #ff0000; /* Rouge */
}

.bg-success {
    background-color: #00ff00; /* Vert */
}

.bg-black {
    background-color: #000000; /* Noir */
}

.bg-yellow {
    background-color: #ffff00; /* Jaune */
}

.bg-orange {
    background-color: #ffa500; /* Orange */
}
